<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.unicoffee">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_uc"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_uc"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniCoffee">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2824425182560416~9112709702"/>

        <activity
            android:name=".view.DetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.ListActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>